section{
    border: 2px solid blue;
    display: inline-block;
    margin: 5px auto 5px auto;
    padding: 10px;
}

a{
background: blue;
height: 30px;
display: inline-block;
width: 30px;
margin: 5px;
}

.kk{
   
    background: sandybrown;
}

.lila{
    background: purple;
    height: 30px;
    display: inline-block;
    width: 30px;
    margin: 5px;
}

